In [1]:
import pandas as pd 
import numpy as np
import nltk
import csv
import re

In [2]:
path_data = "Annuaire établissements FEVRIER 2020_1.xlsx"

In [153]:
df = pd.read_excel(path_data, sheetname='Liste_KIWI_Normalisée_Luc')
df = df[['FACILITY_NAME', 'FACILITY_CITY', 'FACILITY_LATITUDE', 'FACILITY_LONGITUDE']]
print(len(df))
df.head()

/usr/local/lib/python3.7/site-packages/pandas/util/_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

384

,FACILITY_NAME,FACILITY_CITY,FACILITY_LATITUDE,FACILITY_LONGITUDE
0,Korian L'Isle Verte,GRENOBLE,45.198037,5.734430
1,Korian Saison Dorée,LYON,45.735914,4.865291
2,Korian Le Nymphéa SSIAD,CHAMBERY,45.563838,5.929778
3,Korian La Fontanière,FONTAINES SAINT MARTIN,45.843687,4.855076
4,Korian Les Annabelles,LYON,45.751778,4.856833

In [ ]:
#-- 1 suspect à 545 KORIAN LES FAUVETTES               1 Ain
#-- 1 suspect à 1135           KORIAN SORGENTINO   6 Alpes-Maritimes
#-- 1 cas à 1369   KORIAN PASTORIA          10 Aube
#-- 1 suspect à 709             KORIAN L'ESCALE DU BAOU        13 Bouches-du-Rhône
#-- 1 suspect à 739             KORIAN LA RIMANDIERE              13 Bouches-du-Rhône
#-- 2 suspects à 828           KORIAN VAL PRE              13 Bouches-du-Rhône
#-- 1 suspect à 2228           KORIAN LES ALCIDES - FOYER DE VIE       13 Bouches-du-Rhône
#-- 2 suspects à 1690         KORIAN VILLA BERAT     14 Calvados
#-- 1 suspect à 1788           KORIAN LES ISSAMBRES 17 Charente-Maritime
#-- 1 grippe à 1628             KORIAN LES TEMPS BLEUS           28 Eure-et-Loir
#-- 1 suspects à 438           KORIAN COTEAUX DE LA LEZE    31 Haute-Garonne
#-- 2 suspects à 476           KORIAN LA CÔTE PAVEE               31 Haute-Garonne
#-- 1 suspect à 470             Le Doyenné de Langon 33 Gironde
#-- 2 suspects à 1232         KORIAN VILLA GABRIEL 33 Gironde
#-- 2 suspects à 461           KORIAN LES TAMARIS   34 Hérault
#-- 2 suspects à 736           KORIAN LES GARDIOLES               34 Hérault
#-- 1 suspect à 1648           KORIAN LES MEUNIERES              34 Hérault
#-- 1 suspect à 446             KORIAN LES DAMES BLANCHES 37           Indre-et-Loire
#-- 1 suspect à 1113           KORIAN CROIX PERIGOURD        37           Indre-et-Loire
#-- 1 suspect à 1154           KORIAN LES AMARANTES            37           Indre-et-Loire
#-- 1 suspect à 1530           KORIAN JARDIN ATLANTIQUE    44           Loire-Atlantique
#-- 1 suspect à 650             KORIAN LE BARON          45 Loiret
#-- 1 suspect à 1196           KORIAN LA REINE BLANCHE        45 Loiret
#-- 2 suspects à 444           KORIAN LE HAMEAU      47 Lot-et-Garonne
#-- 1 suspect à 1448           KORIAN PLACE ROYALE 51 Marne
#-- 1 suspect à 448             KORIAN VILLA AMARELLI             57 Moselle
#-- 2 suspects à 533           KORIAN GAMBETTA       59 Nord
#-- 1 suspect à 608             KORIAN BORDS DE LA MARQUE 59 Nord
#-- 1 suspect à 1150           KORIAN CATALOGNE     66 Pyrénées-Orientales
#-- 2 suspects à 1108         KORIAN L'AIR DU TEMPS              67 Bas-Rhin
#-- 1 suspect à 538             KORIAN GERLAND          69 Rhône
#-- 2 suspects à 734           KORIAN CLAUDE BERNARD         69 Rhône
#-- 1 suspect à 1217           KORIAN LA FONTANIERE              69 Rhône
#-- 1 suspect à 1749           KORIAN VILLA PAPYRI   71 Saône-et-Loire
#-- 1 suspect à 654             KORIAN FONTAINE ST MARTIN 73 Savoie
#-- 1 suspect à 655             KORIAN LES MYRTILLES 74 Haute-Savoie
#-- 1 suspect à 768             KORIAN PORTE OCEANE               76 Seine-Maritime
#-- 3 suspects à 1068         KORIAN VILLA SAINT DO              76 Seine-Maritime
#-- 1 suspect à 1111           KORIAN HAUTS DE L'ABBAYE      76 Seine-Maritime
#-- 1 suspect à 1529           KORIAN HAMEAU DU ROY           78 Yvelines
#-- 1 suspect à 1608           KORIAN VILLA PEGASE  78 Yvelines
#-- 1 suspect à 656             KORIAN LA VENISE VERTE            79 Deux-Sèvres
#-- 1 suspect à 454             KORIAN LE GATINAIS     91 Essonne
#-- 1 suspect à 588             KORIAN TAMIAS              91 Essonne
#-- 2 suspects à 1149         KORIAN LES TYBILLES     92 Hauts-de-Seine
#-- 1 suspect à 909             KORIAN VILLA VICTORIA              93 Seine-St-Denis
#-- 1 suspect à 788             KORIAN JARDIN DE NEPTUNE    94 Val-de-Marne
#-- 2 suspects à 1908         KORIAN VILLA ST HILAIRE            94 Val-de-Marne
#-- 1 suspect à 1109           KORIAN HAUTS D'ANDILLY          95 Val-D'Oise

In [193]:
word = "ANDILLY".lower()
df["FACILITY_NAME"] = df["FACILITY_NAME"].str.lower()
df[df["FACILITY_NAME"].str.contains(word)]

,FACILITY_NAME,FACILITY_CITY,FACILITY_LATITUDE,FACILITY_LONGITUDE
91,korian hauts d andilly,ANDILLY,49.00381,2.299279